# Build-Ordner
bin/
obj/

# Benutzerabhängige Dateien
*.user
*.suo
*.userosscache
*.sln.docstates
Auto/appsettings.Development.json
Auto/appsettings.json
# Visual Studio Cache
.vs/

# Rider IDE Dateien
.idea/

# Veröffentlichungsordner
publish/

# NuGet Paket Dateien
*.nupkg
*.snupkg

# Log Dateien
*.log

# ASP.NET Core spezifisch
wwwroot/

# Umgebungsdateien
.env
appsettings.Development.json

# JetBrains Rider
.idea/

# Sonstige temporäre Dateien
*.vspscc
*.vssscc
