@{
    ViewData["Title"] = "Startseite";
}




  
      
    

    <div class="bottom-center-text">
        <a asp-controller="home" asp-action="Angebotsliste">
            <label id="unsereAngeboteLink">Unsere Angebote</label>
        </a>
    </div>
   
